@import 'vars';

.chats-page {
  height: 100vh;
  overflow: hidden;
  display: flex;

  & .left-panel {
    width: 390px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border-right: 1px solid var(--gray-l);
  }

  & .search {
    padding: 25px 15px;

    & .search__input {
      background: var(--gray-l);
      border-radius: 5px;
      padding: 10px;
      width: 100%;
    }
  }

  & .users-list-container {
    flex-grow: 1;
    overflow: hidden;
  }

  & .users-list {
    overflow-y: scroll;
    width: calc(100% + 17px);
  }

  & .user {
    display: flex;
    padding: 9px 8px 9px 15px;
    border-top: 1px solid var(--gray-l);
    cursor: pointer;

    &:nth-last-child(1) {
      border-bottom: 1px solid var(--gray-l);
    }

    & .user__img {
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      background: var(--blue);
      border-radius: 100%;
      margin-right: 15px;
    }

    & .user__name {
      font-weight: 500;
      font-size: 0.9rem;
      margin-bottom: 5px;
      color: var(--black-l);
    }

    & .user__user-info {
      flex-grow: 1;
    }

    & .user__last-message {
      word-break: break-all;
      color: var(--gray-m);
      font-size: 0.8rem;
      overflow: hidden;
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    & .user__message-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 1.875rem;
    }

    & .user__last-time {
      font-size: 0.7rem;
      color: var(--gray-m);
    }

    & .user__not-readed-messages {
      background: var(--blue);
      width: 20px;
      height: 20px;
      border-radius: 100%;
      font-weight: 500;
      color: var(--white);
      position: relative;
    }

    & .user__not-readed-messages-count {
      display: block;
      padding-top: 0.05rem;
      font-size: 0.7rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.user_active {
      background-color: var(--blue);

      & .user__name,
      & .user__last-time,
      & .user__last-message,
      & .user__not-readed-messages-count {
        color: var(--white);
      }

      & .user__img {
        background-color: var(--white);
      }

      & .user__not-readed-messages {
        background-color: var(--white);
      }

      & .user__not-readed-messages-count {
        color: var(--blue);
      }
    }
  }

  & .navigation-bar-container {
    flex-shrink: 0;
  }

  & .navigation-bar {
    display: flex;
    height: 4.625rem;
    gap: 6rem;
    justify-content: center;
    padding: 15px 50px;
    border-top: 1px solid var(--gray-l);

    & .navigation-bar__link {
      color: var(--gray-s-s);
      cursor: pointer;

      &:hover {
        color: var(--gray-t-l);
      }

      & .svg-icon {
        width: 40px;
        height: 40px;
      }
    }
  }
}
