@import "variables/variables.css";
@import "photo.css";

.profile-page {
  height: 100%;
  display: flex;
  & .profile-page__back {
    width: 70px;
    height: 100%;
    background: var(--gray-bg-l);
    border-right:1px solid var(--gray-s-l) ;
  }
  & .profile-info__wrapper{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    & .profile-info{
      width: 500px;
    }
    & .profile-info__item{
      display: flex;
      justify-content: space-between;
    }
    & .profile-info__picture{
      display: flex;
      justify-content: center;
    }
    & .profile-info__name{
      text-align: center;
      font-weight: 500;
    }
  }
}
