<main class="profile-page">
  <nav class="profile-page__back"></nav>
  <section class="profile-info__wrapper">
    <div class="profile-info">
      <div class="profile-info__picture">
        {{> photo src=img}}
      </div>
      <div class="profile-info__name">Иван</div>
      <ul class="profile-info__info-list">
        {{#each profile_info}}
          <li class="profile-info__item">
            <label>{{label}}</label>
            <input disabled type="text" value="{{value}}" />
          </li>
        {{/each}}
      </ul>
      <ul class="profile-info__change-info">
        <li class="profile-info__item">
          <a href="#">Изменить данные</a>
        </li>
        <li class="profile-info__item">
          <a href="#">Изменить пароль</a>
        </li>
        <li class="profile-info__item">
          <a href="#">Выйти</a>
        </li>
      </ul>
    </div>
  </section>
</main>