@import 'vars';

.add-file {
  width: 2rem;
  height: 2rem;
  color: var(--gray-ed);
  cursor: pointer;
  transition: color 0.1s ease-in;

  &:hover {
    color: var(--black-m);
  }
}

.add-file:has(.tooltip_show) {
  color: var(--black-m);
}

.add-file .add-file__media,
.add-file .add-file__file {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  & .svg-icon {
    color: var(--blue);
    flex-shrink: 0;
    width: 1.375rem;
    height: 1.375rem;
  }

  & .add-file__label {
    white-space: nowrap;
    color: var(--black-m);
    font-size: 0.75rem;
  }
}
