@import 'vars';

.change-password-mw {
  width: 20rem;
}

.change-password-mw__title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-l);
  margin-bottom: 3rem;
  text-align: center;
}
