@import 'vars';

.chat {
  flex-grow: 1;
  background-color: var(--gray-bg-s);
}

.chat .chat__not-selected-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-t-l);
}

.messenger {
  height: 100%;
  display: grid;
  grid-template-rows: 3.5rem 1fr 4.625rem;
}

.messenger .messenger-header {
  background: var(--white);
  border: 1px solid var(--gray-l);
  border-left: none;
  display: flex;
  gap: 1.125rem;
  align-items: center;
  padding: 0 1rem;

  & .messenger-header__avatar {
    height: 2.2rem;
    width: 2.2rem;
    background: var(--blue);
    border-radius: 50%;
  }

  & .messenger-header__name {
    flex-grow: 1;
    font-size: 0.813rem;
    font-weight: 600;
    color: var(--gray-d);
  }

  & .messenger-header__control {
  }
}

.messenger .messenger-main {
}

.messenger .messenger-footer {
  padding: 0 3rem;
  background: var(--white);
  border: 1px solid var(--gray-l);
  border-left: none;
}
