:root {
  --blue: #2f80ed;
  --blue-h: #296ecc;
  --blue-f: #1e57a4;
  --blue-d: #72aeff;
  --gray-l: #f1f1f1;
  --gray-bg-s: #fbfbfb;
  --gray-bg-l: #fbfbfb;
  --gray-bg-el: #eaeaea;
  --gray-s-s: #e0e0e0;
  --gray-s-l: #eaeaea;
  --gray-t-l: #a3a3a3;
  --gray-m: #bdbdbd;
  --gray-d: #4f4f4f;
  --red-danger: #eb5757;
  --black-l: #5f5f5f;
  --white: #fff;
}
