@import "variables/_colors.css";

@define-mixin button {
  padding: 15px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 13px;
  display: block;
  width: 100%;
}

.button_blue {
  @mixin button;
  color: var(--white);
  background-color: var(--blue);
  transition: ease-in 0.1s background-color;
  &:hover {
     background-color: var(--blue-h);
  }
  &:focus{
    background-color: var(--blue-f);
  }
  &:disabled{
    background-color: var(--blue-d);
  }
}
