@font-face {
  font-family: Arial, sans-serif;
  src: url('../../shared/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Arial, sans-serif;
  src: url('../../shared/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
